In [ ]:
# Chargement des données dans les différentes tables de

In [1]:
import pyodbc
import pandas as pd
import csv
import numpy as np

In [2]:
# connexion à sql server
server = 'DESKTOP-NNQ794M\SQLM2BI'  # Nom ou adresse IP du serveur SQL Server
database = 'Beauty_treasure_DWH'  # Nom de la base de données
username = 'clarisse'  # Nom d'utilisateur SQL Server
password = 'Clarisse.'  # Mot de passe SQL Server

conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

In [4]:
import pyodbc
import csv

# Connexion à la base de données
conn = pyodbc.connect(conn_str)

# Exécution de la requête
cursor = conn.cursor()
cursor.execute("SELECT * FROM [DWH].[Dim_Categories]")

# Enregistrement des résultats dans un fichier CSV
with open('dim_categories.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow([i[0] for i in cursor.description])  # Écriture des noms de colonnes
    csvwriter.writerows(cursor.fetchall())  # Écriture des données

# Fermeture de la connexion
conn.close()

In [3]:
df_stores = pd.read_csv("dataset/stores.csv")
df_employees = pd.read_csv("dataset/employees.csv")
df_shipping_cost = pd.read_csv("dataset/shipping_cost.csv")
df_customers = pd.read_csv("dataset/customers.csv")
# df_customers.rename(columns={'Cust_sexe': 'Cust_sex'}, inplace=True)
# df_customers.to_csv("dataset/customers.csv",encoding='utf-8-sig', index=False)

df_orders = pd.read_csv("dataset/orders.csv")
# df_orders = df_orders[['Order_ID', 'Cust_ID','Shipping_cost_ID','Number_items','delivery_address','Order_date','Shipped_date','Delivery_date','Delivery_formula','Payment_channel','Total_amount','Total_amount_invoiced']]
# df_orders.to_csv("dataset/orders.csv",encoding='utf-8-sig', index=False)

df_delivery = pd.read_csv("dataset/delivery.csv")
df_category = pd.read_csv("dataset/categories.csv")

df_products = pd.read_csv("dataset/products.csv")

# df_carts = pd.read_csv("dataset/carts.csv")
df_promotions = pd.read_csv("dataset/promotions.csv")
df_order_details = pd.read_csv("dataset/order_details.csv")

In [ ]:
df_order_details = pd.read_csv("dataset/order_details.csv")

In [ ]:
df_order_details

## definition de quelques fonctions

In [4]:
def lst_column(df) :
    lst_column = df.columns.tolist()
    col = ''
    for i in (lst_column):
        col = col + i + ","
    return col[:-1]

def interrogation(string):
    count = ''
    for char in string:
        if char == ',':
            count += '?,'
    return count+'?'

In [5]:
# chargement dans la table store
def loading_in_table(df, table_name, file_name):
    csv_file_path = "dataset/"+file_name + '.csv'
    try:
        conn = pyodbc.connect(conn_str)
        cursor = conn.cursor()

        # Ouverture du fichier CSV
        with open(csv_file_path, 'r', encoding='utf-8') as csvfile:
            csv_reader = csv.reader(csvfile, delimiter=",")
            next(csv_reader)  # Ignore l'en-tête du fichier CSV
#             cursor.execute(f"DELETE FROM {table_name}")
            # Itération à travers chaque ligne du fichier CSV
            lst_col = lst_column(df)
            lst_interro = interrogation(lst_col)
            for row in csv_reader:
#                 print(row)
                query = f"INSERT INTO {table_name}({lst_col}) VALUES ({lst_interro})"
                cursor.execute(query, row)
                

        # Validation des changements
        conn.commit()
        print("Chargement des données dans la table avec succès.")

        # Fermeture du curseur et de la connexion
        cursor.close()
        conn.close()

    except pyodbc.Error as e:
        print(f"Erreur lors de la connexion à la base de données : {e}")

In [6]:
# stores
loading_in_table(df_stores, "Stores", "stores")

Chargement des données dans la table avec succès.

In [7]:
# Employees
loading_in_table(df_employees, "Employees", "employees")

Chargement des données dans la table avec succès.

In [8]:
# Shipping_cost
loading_in_table(df_shipping_cost, "Shipping_cost", "shipping_cost")

Chargement des données dans la table avec succès.

In [9]:
# Customers
loading_in_table(df_customers, "Customers", "customers")

Chargement des données dans la table avec succès.

In [10]:
# Orders
loading_in_table(df_orders, "Orders", "orders")

Chargement des données dans la table avec succès.

In [11]:
# Delivery
loading_in_table(df_delivery, "Delivery", "delivery")

Chargement des données dans la table avec succès.

In [13]:
# Category
loading_in_table(df_category, "Category", "categories")

Erreur lors de la connexion à la base de données : ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation de la contrainte PRIMARY KEY «\xa0PK__Category__6DB38D4EC7AE0948\xa0». Impossible d'insérer une clé en double dans l'objet «\xa0dbo.Category\xa0». Valeur de clé dupliquée\xa0: (Cat_0001). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]L'instruction a été arrêtée. (3621)")

In [14]:
# Products
loading_in_table(df_products, "Products", "products")

Chargement des données dans la table avec succès.

# Carts
#loading_in_table(df_carts, "Carts", "carts")

In [15]:
# Promotions
loading_in_table(df_promotions, "Promotions", "promotions")

Chargement des données dans la table avec succès.

In [16]:
# Order_details
loading_in_table(df_order_details, "Order_details", "order_details")

Chargement des données dans la table avec succès.