## Génération des données pour la table promotion

In [1]:
# importation des packages
import pymongo
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random
import string
from unidecode import unidecode
import warnings 
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', None)

In [2]:
# liste colonne promotions 
lst_columns = ["Promotion_ID", "Product_ID", "Promo_code", "Percentage_reduction", "Promotion_start_date", "Promotion_end_date"]

In [12]:
# chargeement des données de la table product
df_products = pd.read_csv("dataset/products.csv")
# affichage des cinq premières lignes

df_products.head()

,Product_ID,Category_ID,Product,Product_name,Description_Product,Price,Currency
0,P000001,Cat_0002,9628,Armani Luminous Silk Fond De Teint Eclat Parfait,Teint,30000,FCFA
1,P000002,Cat_0002,16125,Armani Luminous Silk Poudre Fusion Eclat,Teint,33000,FCFA
2,P000003,Cat_0002,5043,Artist By Nocibe Fond De Teint Goutte A Goutte,Teint,12000,FCFA
3,P000004,Cat_0002,10165,Bareminerals Fond De Teint Liquide Tenue Perfo...,Teint,25000,FCFA
4,P000005,Cat_0002,16583,Beauty Concepts Xxl Bronzer Illuminant,Teint,10000,FCFA

In [15]:
df_products[df_products["Product"] == 16125]

,Product_ID,Category_ID,Product,Product_name,Description_Product,Price,Currency
1,P000002,Cat_0002,16125,Armani Luminous Silk Poudre Fusion Eclat,Teint,33000,FCFA

In [17]:
list_product_promo = ["16125", "10135", "17376", "10165", "10109", "2796", "10275",
                     "8308", "5320", "14013", "9032", "16203", "6373", "18088", "15844", "17329",
                      "18600","4030", "8922", "15900", "11313", "11438", "17759", "7211", "18607", "13601", "12128", "14203", "13572", "7522"
                     ]

percentage_reduction = [10/100, 15/100, 12/100, 5/100, 10/100, 7/100, 18/100, 20/100, 5/100, 15/100, 18/100, 11/100, 25/100, 30/100, 30/100, 30/100, 30/100, 5/100, 12/100, 20/100, 30/100, 20/100, 20/100, 10/100, 8/100, 30/100, 5/100, 15/100, 10/100, 10/100]
start_date = [ "2022-11-15", "2023-02-08", "2023-04-02", "2023-11-15", "2024-02-08" ,"2024-04-02"]
end_date   = [ "2023-01-20", "2023-02-20", "2023-05-30", "2024-01-20", "2024-02-20", "2024-05-30"]

# mon algorithme 

dic_promo = {}
lst_promo = []
k=1
for i in range(len(start_date)) :
    for p in range(len(list_product_promo)):
        dic_promo["Promotion_ID"] = f"Promo_{k:04d}"
        product = list_product_promo[p]
        
        info_p = df_products[df_products["Product"] == int(product)]
        
        dic_promo["Product_ID"] = info_p["Product_ID"].iloc[0]
        if ( i==0 ) : 
            dic_promo["Promo_code"] = "BeautyYearGift"
        if ( i==1 ) :
            dic_promo["Promo_code"] = "BeautyLove"
        if ( i==2 ) :
            dic_promo["Promo_code"] = "BeautyTabaski"
        if ( i==3 ) :
            dic_promo["Promo_code"] = "BeautyYearGift"
        if ( i==4 ) :
            dic_promo["Promo_code"] = "BeautyLove"
        if ( i==5 ) :
            dic_promo["Promo_code"] = "BeautyTabaski"

        dic_promo["Percentage_reduction"] = percentage_reduction[p] # f"{int(percentage_reduction[p]*100)}/100"
        dic_promo["Promotion_start_date" ] = start_date[i]
        dic_promo["Promotion_end_date"] = end_date[i]
        lst_promo.append(dic_promo)
        dic_promo = {}
        k=k+1

# enregistrement dans un dataframe
df_promotions = pd.DataFrame(columns = lst_columns )
for p in lst_promo : 
    df_promotions = df_promotions.append(p, ignore_index=True)
    
    
    

    
# Enregistrement dans un fichier csv
df_promotions.to_csv("dataset/promotions.csv",encoding='utf-8-sig', index=False)

In [18]:
# affichage des cinq premières lignes
df_promotions.head()

,Promotion_ID,Product_ID,Promo_code,Percentage_reduction,Promotion_start_date,Promotion_end_date
0,Promo_0001,P000002,BeautyYearGift,0.1,2022-11-15,2023-01-20
1,Promo_0002,P000186,BeautyYearGift,0.15,2022-11-15,2023-01-20
2,Promo_0003,P000189,BeautyYearGift,0.12,2022-11-15,2023-01-20
3,Promo_0004,P000004,BeautyYearGift,0.05,2022-11-15,2023-01-20
4,Promo_0005,P000087,BeautyYearGift,0.1,2022-11-15,2023-01-20